/* MODALS */
.modal iframe {
    border: none;
    width: 100%;
    height: 600px;
}
.modal .modal-body {
    padding: 16px;
}
#finalQModal .modal-dialog {
    min-width: 600px;
}
.modal[aria-hidden="true"] iframe {
    display: none;
}


/** Hidden Elements to clean up interface **/
#nav-projects-dropdown, #nav-groups-dropdown, .dashboard-shortcuts-activity, .dashboard-shortcuts-milestones,
.dashboard-shortcuts-snippets, header a[aria-label="Instance Statistics"],
.nav .header-new-dropdown-toggle, .nav .search, .nav [aria-label="Issues"], .nav .dashboard-shortcuts-merge_requests,
a[href="/projects/new"], .alert-wrapper  {
    display: none !important;
    visibility: hidden !important;
}


/* nav bar */
span.logo-text {
    display: none !important;
    visibility: hidden !important;
}

.title a#logo:after {
    content: 'Task List';
    color: #d1d1f0;
    padding-left: 8px;
}
.title a#logo:hover:after {
    color: white;
}

/* project page */
body[data-page="root:index"] #content-body > div.top-area.scrolling-tabs-container.inner-page-scroll-tabs,
body[data-page="root:index"] #content-body > div.nav-block,
body[data-page="dashboard:projects:index"] #content-body > div.top-area.scrolling-tabs-container.inner-page-scroll-tabs,
body[data-page="dashboard:projects:index"] #content-body > div.nav-block{
    display: none !important;
    visibility: hidden !important;
}
