<h1 id="peer-review-guide">Peer Review Guide</h1>
<p>This exercise involves a peer review step. At this step, you need to provide a review to another coder’s solution.</p>
<p>This document will walk you through performing this review and offer guidance on how to do this, which may be useful if you have never done a peer review previously.</p>
<h2 id="steps-for-giving-a-peer-review-for-this-exercise">Steps for giving a peer review for this exercise</h2>
<ol type="1">
<li>Complete a task yourself</li>
<li>Within the game, mark that task as complete</li>
<li>Within the game, request to do a peer review (you can do up to 2 of these per task)</li>
<li>The game will direct you to another person’s solution project</li>
<li>Read through their code</li>
<li>Go to the issues page and create a new issue</li>
<li>Give it a title “Review”</li>
<li>Write your review in the text box</li>
<li>Submit the issue</li>
<li>You can then go back to the game and continue</li>
</ol>
<p>Note that you can’t give a peer review for a task you have not yet completed yourself.</p>
<h2 id="tips-for-giving-a-useful-peer-review">Tips for giving a useful peer review</h2>
<ul>
<li>Be polite</li>
<li>Offer a mix of criticism and praise</li>
<li>Consider the following when offering a review:
<ul>
<li>Code style</li>
<li>Choice of algorithms</li>
<li>Choice of libraries</li>
<li>Complexity (such as big-oh complexity)</li>
<li>Functionality (Does it meet the requirements)</li>
<li>Correctness / Bugs</li>
<li>Security</li>
</ul></li>
<li>If you can think of improvements, you can suggest them</li>
</ul>
