{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent | Citadel Bank Programming Lab</title>
    <style>
    </style>
</head>
<body>
    <h1>
        Consent Request
    </h1>
    <p>This network security lab exercise wants to record some
    data about the usage of the system for research. If you would be
    willing to opt in your system, please indicate so using the following
    form:</p>
    <br>
    Please make sure you have read the
    <ul>
        <li><a target="_blank" href="/static/privacy-notice.htm">Privacy Policy</a></li>
        <li><a target="_blank" href="/static/information-participants.htm">Information Sheet</a></li>
        <li><a target="_blank" href="/static/consent-educators.htm">Consent Sheet</a></li>
    </ul>

    {{ wtf.quick_form(form) }}
</body>
</html>
