{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent | Citadel Bank Programming Lab</title>
    <style>
        body {
            max-width:  500px;
            margin: auto;
        }

        input[type=submit] {
            margin: 10px;
        }
        form {
            margin-top:  40px;
        }
    </style>
</head>
<body>
    <h1>
        Consent Request
    </h1>
    <p>This network security lab exercise wants to record some
    data about your participation for research. If you would be
    willing to take part, please indicate so using the following
    form:</p>
    <br>
    Please make sure you have read the
    <ul>
        <li><a target="_blank" href="/static/privacy-notice.htm">Privacy Policy</a></li>
        <li><a target="_blank" href="/static/information-participants.htm">Information Sheet</a></li>
        <li><a target="_blank" href="/static/consent-participants.htm">Consent Sheet</a></li>
    </ul>

    {{ wtf.quick_form(form) }}
</body>
</html>
