{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}} | Citadel Bank Programming Lab</title>
    <style>
        html {
  background: #420042;
}
body {
  max-width: 800px;
  margin: 0 auto;
  background: #fffeee;
  font-family: sans-serif;
}
.form-group {
  padding: 10px;
}
ul.form-control {
  list-style: none;
  display: flex;
}
form ul li input {
  display: block;
}
form ul li {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
form ul li label {
  text-align: center;
}
form ul * {
  padding: 10px;
}
form ul li:hover {
  background: #ddd;
  border-radius: 20px;
}
.form-group:hover {
  background: #eee;
  border-radius: 10px;
}

.form-group label + textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
}

.form-group label + input[type=text] {
    display: block;
  max-width: 100%;
  min-width: 100%;
}

form input[type=submit] {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  left: 10%;
}

.help-block {
  background: yellow;
  padding: 4px;
  max-width: 200px;
  border: 1px red solid;
  border-radius: 10px;
  border-top: 0px;
  border-left: 0px;
}
.help-block:before {
  content: '^ ';
}
.form-group.has-error {
  background: #f4d3d3;
}

    </style>
</head>
<body>
    <h1>{{page_title}}</h1>
    <p>
        {% if consent_msg=="admin" %}
        The admin for this lab has disabled questionnaires
        <br>
        You do not need to fill this in. You may close this page now.
        {% endif %}

        {% if consent_msg=="user" %}
        You have not completed the consent form yet.
        <br>
        To fill out these optional questionnaires, you must first fill
        out the consent form.
        <br>
        <a target="_blank" href="/consent?popup=1">Click here if you
        want to do that</a>
        <br>
        You will need to reload this page after filling in the consent
        form. Or you can close this page without filling anything in.
        {% endif %}

        {% if consent_msg=="done" %}
        Submitted response data sucesfully.<br>
        You can now close this tab and return to the game.
        {% endif %}

        {% if consent_msg==None %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </p>
</body>
</html>
