{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Complete | Citadel Bank Programming Lab</title>
    <style>
        html {
  background: #420042;
}
body {
  max-width: 500px;
  margin: 0 auto;
  background: #fffeee;
  font-family: sans-serif;
}
    </style>
</head>
<body>
    <h1>Review Recorded</h1>
    <p>You can now close these tabs and return to the game to unlock
    new upgrades!</p>
</body>
</html>
