{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review a solution | Citadel Bank Programming Lab</title>

    <style>
        html {
  background: #420042;
}
body {
  max-width: 500px;
  margin: 0 auto;
  background: #fffeee;
  font-family: sans-serif;
}

.help-block {
  background: yellow;
  padding: 4px;
  max-width: 200px;
  border: 1px red solid;
  border-radius: 10px;
  border-top: 0px;
  border-left: 0px;
}
.help-block:before {
  content: '^ ';
}
.form-group.has-error {
  background: #f4d3d3;
}

    </style>
</head>
<body>
    <h1>Review</h1>
    <p>You are making a review for <a target="_blank" href="{{ url }}">this solution<a>.</p>
    <p>Please look at this file and decide whether you think the
    solution has been completed in a secure fashion (it has considered
    security concerns), in a correct fashion (it has no bugs) and if
    it is a good solution (is it structured, designed and written
    well).</p>
    </p>
    {{ wtf.quick_form(form) }}
</body>
</html>
