<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citadel Bank Programming Lab First Run</title>
</head>
<body>
    Enter the following details to set up the bridge with gitlab:
    <form action="" method="POST">
        <label for="token">Superuser Access Token <a target="_blank" href="http://{{hostname}}/-/profile/personal_access_tokens">(sudo & api)</a></label>
        <input type="text" id="token" name="token" placeholder="00000000000">
        <br>
        <label for="userstoadd">Users to add. One per line. in the
        form user,email,password</label>
        <br>
        <textarea id="userstoadd" name="userstoadd" cols=86 rows=20></textarea>
        <br>
        <input type="submit">
    </form>
    <p>Note: If you have already made a token previously, you can
    re-use the same one. Please keep it recorded in a safe place.
    <p>Note: If you have previously defined users to add and they were
    already added sucesfully you don't need to re-enter them into this
    form. You don't need to provide the users to add the very first
    time you run the setup, you can add them later.</p>
    <br>
    This token will act as your admin password for this site's teacher interface.</p>
</body>
</html>
