<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Admin Page | Citadel Bank Programming Lab</title>
    <style type="text/css">
    .unstarted {
        opacity: 0.5
    }
    .True {
        background: green;
    }
    .False {
        background: red;
    }
    .noinit {
        background: black;
    }
    footer{
        font-size: small
    }
    </style>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/setup">Reset the main access token</a>
        </li>
        <li>
            <a href="/addauser">add new users</a>
        </li>
        <li>
            <a href="/teacher/metrics/toggle">{{ metricmessage }}</a>
        </li>
    </ul>
</nav>

<main>
This is the teacher admin page.
<br>
You are logged in as an admin.
<br>
The system is configured correctly.

<table>
    <thead>
        <th>User</th>
        <th>Tasks</th>
        <th>Lang</th>
        <th>Reviews Received</th>
        <th>Reviews Given</th>
        <th>Best Score</th>
    </thead>
    {% for user in all_users %}
    <tr>
        <td><a href="/teacher/student/{{user.uid}}">{{ user.uid }}</a></td>
        <td>
            <span class="{{ user.task1 }}">1</span>
            <span class="{{ user.task2 }}">2</span>
            <span class="{{ user.task3 }}">3</span>
            <span class="{{ user.task4 }}">4</span>
            <span class="{{ user.task5 }}">5</span>
            <span class="{{ user.task6 }}">6</span>
        </td>
        <td>{{ user.lang }}</td>
        <td>{{ user.reviewsrec }}</td>
        <td>{{ user.reviewsgiv }}</td>
        <td>{{ user.hiscore }}</td>
    </tr>
    {% endfor %}
</table>
<p>
    <ul>
        <li>Average Games Played: {{ gamedata.avg}}</li>
    </ul>
</p>

{{warnings}}
</main>

<footer>
    Debug info: {{ uuid }}
</footer>

</body>
</html>
