<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Admin Page | Citadel Bank Programming Lab</title>
    <style type="text/css">
    .unstarted {
        opacity: 0.5
    }
    .started {

    }
    .True {
        background: green;
    }
    .False {
        background: red;
    }
    .noinit {
        background: black;
    }
    </style>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/teacher">Overview</a>
        </li>
    </ul>
</nav>

<main>
<h1>Student {{user.username}} </h1>
<p>In Game best score: {{ game.hiscore }}</p>
<p>Games played: {{ game.count }}</p>

<table>
    <thead>
        <th>Task</th>
        <th>CI</th>
        <th>Language Used</th>
        <th>Reviews Received</th>
        <th>Reviews Given</th>
        <th>Commits Made</th>
        <th>Marked Finished</th>
        <th>Upgrade Unlocked</th>
    </thead>
    {% for task in tasks %}
    <tr>
        <td><a href="http://{{hostname}}/{{user.username}}/{{task.id}}">{{ task.id }}</a></td>
        <td class="{{ task.state }}">
            {{task.state}}
        </td>
        <td>{{ task.lang }}</td>
        <td>{{ task.reviewsrec }}</td>
        <td>{{ task.reviewsgiv }}</td>
        <td>{{ task.commits }}</td>
        <td>{{ task.finished }}</td>
        <td>{{ task.unlocked }}</td>
    </tr>
    {% endfor %}
</table>

{% for review in reviews %}
<details>
    <summary>
        <p>From {{review.from}}</p>
        <p>To {{review.to}}</p>
        <p>Task {{review.task}}</p>
    </summary>
    <p>
        {{review.content}}
    </p>
</details>
{% endfor %}
</main>

</body>
</html>
